.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  padding: 0 8px;
  box-sizing: border-box;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  padding-right: 16px;
}

.sidenav-scroll-wrapper {
  height: calc(100dvh - 80px);
  overflow: auto;
  border-radius: 12px;
  box-sizing: border-box;
}

.sidenav-content {
  position: relative;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 32px;
  box-sizing: border-box;
  @media (pointer: fine) {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
  }
}

.btn-title {
  font-size: 28px !important;
  height: 56px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.btn-title mat-icon {
  font-size: 28px !important;
  height: 28px !important;
  width: 28px !important;
  padding-left: 3px !important;
}


@media (max-width: 600px) or (max-height: 738px) {
  .btn-title {
    font-size: initial !important;
    height: 40px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .btn-title mat-icon {
    font-size: 24px !important;
    height: 24px !important;
    width: 24px !important;
    padding-left: 2px !important;
  }

  mat-sidenav-content {
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
  }
  .sidenav-content {
    overflow-y: visible;
    padding: 8px;
  }
}
@media (max-width: 600px) {
  .sidenav-scroll-wrapper {
    height: calc(100dvh - 64px);
  }
}
@media (max-height: 738px) {
  .sidenav-scroll-wrapper {
    height: calc(100dvh - 72px);
  }
}

