.field-container {
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  margin-right: 5px;
}

.cancel-button {
  margin-left: 5px;
}
